<a href="https://colab.research.google.com/github/armx97/ddd/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from scipy.spatial import distance
import pandas as pd 
import numpy as np 
import operator

In [ ]:
{"latitude":[56.227981],
 "longitude":[43.828068],
 "city": "Íèæíèé Íîâãîðîä",
 "dist": 400}

In [ ]:
import requests

r = requests.post('http://inform-ocenka-calc.online/api/geo/radius_pois',
                  json= {"latitude":[56.227981, 56.227981],
                          "longitude":[43.828068, 43.828068],
                          "city": "Нижний Новгород",
                           "dist": 250})
r.json()

In [ ]:
import requests

r = requests.post('http://inform-ocenka-calc.online/api/geo/check_distr',                   
                  json={"coords": [{"Latitude":56.227981, "Longitude":43.828068}], 
                        "city": ["Нижний Новгород"]}
                  )
r.json()

[[[['Окраины', 'Многоквартирная жилая застройка'],
   ['Окраина 21', 'Спальный микрорайон 107'],
   [19, 19]],
  []]]

In [ ]:
import requests
# { "coords": [{"Latitude": 56.337476,"Longitude": 43.936142},
#              {"Latitude": 56.323847,"Longitude": 43.940266},
#              {"Latitude": 56.325165,"Longitude": 43.9442},
#              {"Latitude": 56.325215,"Longitude": 43.94597},
#              {"Latitude": 56.325215,"Longitude": 43.94597},
#              {"Latitude": 56.322624,"Longitude": 43.929567},
#              {"Latitude": 56.322624,"Longitude": 43.929567},
#              {"Latitude": 56.321486,"Longitude": 43.932882},
#              {"Latitude": 56.333355,"Longitude": 43.954962},
#              {"Latitude": 56.322699,"Longitude": 43.949608},
#              {"Latitude": 56.322419,"Longitude": 43.950974},
#              {"Latitude": 56.322419,"Longitude": 43.950974},{"Latitude": 56.322419,"Longitude": 43.950974},
#              {"Latitude": 56.323972,"Longitude": 43.952986},{"Latitude": 56.328494,"Longitude": 43.956157},
#              {"Latitude": 56.329148,"Longitude": 43.957154},{"Latitude": 56.324925,"Longitude": 43.915266},
#              {"Latitude": 56.331633,"Longitude": 43.964547},{"Latitude": 56.331633,"Longitude": 43.964547},
#              {"Latitude": 56.307387,"Longitude": 43.944721},{"Latitude": 56.306693,"Longitude": 43.944308},
#              {"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },
#              {"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": },
#              {"Latitude": ,"Longitude": },{"Latitude": ,"Longitude": }],
#  "city": "Нижний Новгород","type_": "stop_position"}


r = requests.post('http://inform-ocenka-calc.online/api/geo/get_nearest_points',                   
                  json={ "coords": [{"Latitude": 56.337476,"Longitude": 43.936142},
                                    {"Latitude": 56.323847,"Longitude": 43.940266},
                                    {"Latitude": 56.325165,"Longitude": 43.9442},
                                    {"Latitude": 56.325215,"Longitude": 43.94597},
                                    {"Latitude": 56.325215,"Longitude": 43.94597},
                                    {"Latitude": 56.322624,"Longitude": 43.929567},
                                    {"Latitude": 56.322624,"Longitude": 43.929567},
                                    {"Latitude": 56.321486,"Longitude": 43.932882},
                                    {"Latitude": 56.333355,"Longitude": 43.954962},
                                    {"Latitude": 56.322699,"Longitude": 43.949608},
                                    {"Latitude": 56.322419,"Longitude": 43.950974},
                                    {"Latitude": 56.322419,"Longitude": 43.950974},
                                    {"Latitude": 56.322419,"Longitude": 43.950974},
                                    {"Latitude": 56.323972,"Longitude": 43.952986},
                                    {"Latitude": 56.328494,"Longitude": 43.956157},
                                    {"Latitude": 56.329148,"Longitude": 43.957154},
                                    {"Latitude": 56.324925,"Longitude": 43.915266},
                                    {"Latitude": 56.331633,"Longitude": 43.964547},
                                    {"Latitude": 56.331633,"Longitude": 43.964547},
                                    {"Latitude": 56.307387,"Longitude": 43.944721},
                                    {"Latitude": 56.306693,"Longitude": 43.944308},],
                        "city": "Нижний Новгород","type_": "stop_position"}

                  )
r.json()

In [ ]:
my_data = pd.read_csv('/content/drive/MyDrive/Raifhack (1)/data/test.csv')
my_data

                 city floor          id  ...        date  realty_type  price_type
0               Курск   1.0  COL_289284  ...  2020-09-06          100           1
1              Сургут   1.0  COL_289305  ...  2020-09-06          110           1
2              Тюмень  -1.0  COL_289318  ...  2020-09-06           10           1
3             Иркутск   1.0  COL_289354  ...  2020-09-06          100           1
4               Курск   NaN  COL_289399  ...  2020-09-06           10           1
...               ...   ...         ...  ...         ...          ...         ...
2969       Красноярск   4.0  COL_455089  ...  2020-12-27          100           1
2970            Томск   1.0  COL_455212  ...  2020-12-27           10           1
2971           Калуга  -1.0  COL_455261  ...  2020-12-27          100           1
2972  Нижний Новгород   NaN  COL_455381  ...  2020-12-27           10           1
2973  Нижний Новгород   NaN  COL_455397  ...  2020-12-27          100           1

[2974 rows x 76 columns]

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Raifhack/eugene/for_armen.csv')
price = df[['Unnamed: 0','per_square_meter_price']]
df1 = df.drop('Unnamed: 0',axis = 1)

In [ ]:
price = price.iloc[:100]
df1 = df1.iloc[:100]

In [ ]:
price['per_square_meter_price']

0     139937.500000
1      60410.714286
2      45164.761264
3      28805.263158
4      13222.591362
          ...
95     71866.666667
96     18885.802469
97    174816.810345
98     63510.638298
99     43797.729618
Name: per_square_meter_price, Length: 100, dtype: float64

In [ ]:
df1

    region  street  realty_type  ...        lng        lat  per_square_meter_price
0       31   16109           10  ...  56.292797  57.998207           139937.500000
1       25    6485           10  ...  39.543835  55.574284            60410.714286
2       48    6340          110  ...  39.850525  57.619140            45164.761264
3       14     111          110  ...  87.108604  53.897083            28805.263158
4       24    3102           10  ...  37.487110  55.802590            13222.591362
..     ...     ...          ...  ...        ...        ...                     ...
95      46    4290           10  ...  75.185250  61.249780            71866.666667
96      43   15568           10  ...  65.633830  57.188995            18885.802469
97      24    3034          100  ...  37.654610  55.710130           174816.810345
98       8    6178           10  ...  39.182804  51.710087            63510.638298
99       8   24624           10  ...  39.164810  51.645885            43797.729618

[100 rows x 7 columns]

In [ ]:
df_massiv = df1.to_numpy()

In [ ]:
df_massiv[0][:-1]

array([3.1000000e+01, 1.6109000e+04, 1.0000000e+01, 3.2000000e+01,
       5.6292797e+01, 5.7998207e+01])

In [ ]:
df_massiv[0]

array([3.1000000e+01, 1.6109000e+04, 1.0000000e+01, 3.2000000e+01,
       5.6292797e+01, 5.7998207e+01, 1.3993750e+05])

In [ ]:
def get_analogs(o_ocenki,data_base,k):
  kol_vo_analogov = 0
  dist_from_o_ocenki = {}
  analogs = []
  for i in range(0,len(data_base)):
    if i !=k and o_ocenki[0] == data_base[i][0]:
      # print(data_base[i])
      dst = distance.euclidean(o_ocenki[:-1], data_base[i][:-1])
      # print(dst)
      dist_from_o_ocenki[i] = dst
      kol_vo_analogov += 1
  sorted_dist_from_o_ocenki = sorted(dist_from_o_ocenki.items(), key=operator.itemgetter(1))
  
  for i in range(0, kol_vo_analogov):
    if i == 6:
      break
    analogs.append(data_base[sorted_dist_from_o_ocenki[i][0]]) 
  return analogs

In [ ]:
def get_mean_analog_price(o_ocenki,analogs):
  return o_ocenki[-1], np.mean([i[-1] for i in analogs])

In [ ]:
get_mean_analog_price(ob_oc[0],ob_analogs[0])

(139937.5, 11443.358251868889)

In [ ]:
import requests

r = requests.post('http://inform-ocenka-calc.online/api/geo/address_to_coord', 
                  json=[{"address":'Бетанкура 3', "city":'Нижний Новгород'},
                        {"address":'Народная 54', "city":'Нижний Новгород'}]
                        )
r.json()

In [ ]:
import requests
r = requests.post('http://inform-ocenka-calc.online/api/geo/radius_pois',
                  json= {"latitude":[56.314312, 56.314312],
                         "longitude":[44.011754, 44.011754],
                         "city": "Нижний Новгород",
                         "dist": 500})

r.json()

JSONDecodeError: ignored

In [ ]:
import requests

r = requests.post('http://inform-ocenka-calc.online/api/geo/check_distr',                   
                  json={"coords": [{"Latitude":56.333714, "Longitude":43.95684}], 
                        "city": ["Нижний Новгород"]}
                  )
r.json()

[[[[], ['Спальный микрорайон 25'], []], []]]

In [ ]:
import requests

r = requests.post('http://inform-ocenka-calc.online/api/geo/get_nearest_points',                   
                  json={"coords": [{"Latitude":56.227981, "Longitude":43.828068},
					 				{"Latitude":56.227981, "Longitude":43.828068}], 
                        "city": "Нижний Новгород",
                        "type_":"aerodrome",
                        "type_":"stop_position"}
                  )
# { "coords": [{"Latitude": 56.324102,"Longitude": 44.008798}],
#  "city": "Нижний Новгород",
#  "type_": "stop_position"}
r.json()

[{'direct_dist': 78.99640229609513,
  'obj_coords': [56.227981, 43.828068],
  'poi_coords': [56.2277481998876, 43.8292711],
  'poi_title': 'Школа №170',
  'time': -1000.0,
  'walking_dist': -1000.0},
 {'direct_dist': 78.99640229609513,
  'obj_coords': [56.227981, 43.828068],
  'poi_coords': [56.2277481998876, 43.8292711],
  'poi_title': 'Школа №170',
  'time': -1000.0,
  'walking_dist': -1000.0}]

In [ ]:
# %%timeit
ob_oc= {}
ob_analogs= {}
for k in range(0,len(df_massiv)):
  ob_oc[k] = df_massiv[k]
  ob_analogs[k] = get_analogs(df_massiv[k],df_massiv,k)

In [ ]:
ob_oc[0][0]

31.0

In [ ]:
n = 0
print('Объект оценки:', list(ob_oc[n]), sep='\n')
print(sep='\n')
print('Объекты аналоги:')
list(ob_analogs[n])

Объект оценки:
[31.0, 16109.0, 10.0, 32.0, 56.292797, 57.998207, 139937.5]

Объекты аналоги:

[array([3.10000000e+01, 1.58900000e+04, 1.00000000e+01, 1.73900000e+02,
        5.66658300e+01, 5.97118530e+01, 1.14433583e+04])]

In [ ]:
(9.55980392e+04 + 1.14433583e+04 + 1.22956274e+05 + 1.88858025e+04 + 1.21341463e+04 + 4.71724138e+04) / 6

51365.00568333333

In [ ]:
list(df_massiv[1])

[25.0, 6485.0, 10.0, 280.0, 39.543835, 55.574284, 60410.714285714275]

In [ ]:
print(pd.DataFrame([df_massiv[1]]))

      0       1     2      3          4          5             6
0  25.0  6485.0  10.0  280.0  39.543835  55.574284  60410.714286

                                                   0  ...                                                  5
0  [25.0, 6485.0, 10.0, 280.0, 39.543835, 55.5742...  ...  [2.0, 9560.0, 100.0, 139.0, 83.77558, 53.33437...

[1 rows x 6 columns]

In [ ]:
ob_oc[1]

array([2.50000000e+01, 6.48500000e+03, 1.00000000e+01, 2.80000000e+02,
       3.95438350e+01, 5.55742840e+01, 6.04107143e+04])

In [ ]:
ob_analogs[1]

[array([2.50000000e+01, 6.48500000e+03, 1.00000000e+01, 2.80000000e+02,
        3.95438350e+01, 5.55742840e+01, 6.04107143e+04]),
 array([3.60000000e+01, 8.82000000e+03, 1.00000000e+01, 1.84000000e+02,
        4.61202240e+01, 5.14960560e+01, 6.21847826e+04]),
 array([8.00000000e+00, 6.17800000e+03, 1.00000000e+01, 4.70000000e+01,
        3.91828040e+01, 5.17100870e+01, 6.35106383e+04]),
 array([3.30000000e+01, 1.30740000e+04, 1.00000000e+02, 1.20000000e+02,
        3.96680830e+01, 4.72263000e+01, 6.05333333e+04]),
 array([3.40000000e+01, 1.34070000e+04, 1.00000000e+02, 3.08000000e+02,
        5.02036320e+01, 5.32579000e+01, 6.01980519e+04]),
 array([2.00000000e+00, 9.56000000e+03, 1.00000000e+02, 1.39000000e+02,
        8.37755800e+01, 5.33343770e+01, 5.15395683e+04])]

In [ ]:
my_obyekt_ocenki[1]

array([2, 3, 3, 1])

In [ ]:
my_obyekt_ocenki[:,0][0]

1

In [ ]:
print('Объект оценки')
for i in range(0, len(my_obyekt_ocenki)):
  print(my_obyekt_ocenki[:,0][i])
print('Объект аналог')
for i in range(0, len(my_obyekt_analog)):
  print(my_obyekt_analog[:,0][i])

In [ ]:
my_obyekt_ocenki = {"0": [1, 3, 1, 2],
                    "1": [2, 3, 3, 1]}

my_obyekt_analog = {"0": [[1, 2, 1, 1],
                         [2, 1, 3, 1],
                         [3, 2, 1, 2],
                         [1, 3, 3, 2],
                         [4, 1, 1, 1],
                         [2, 3, 2, 2]],
                    "1": [[2, 3, 2, 1],
                         [2, 2, 1, 2],
                         [3, 3, 2, 1],
                         [1, 2, 3, 2],
                         [4, 2, 1, 1],
                         [2, 3, 1, 2]]}

In [ ]:
for i in range(0,len(my_obyekt_ocenki)):

2

In [ ]:
my_obyekt_ocenki["0"][0]

1

In [ ]:
# my_obyekt_ocenki["1"]
# for k in range(0,len(my_obyekt_ocenki["0"])):

print(my_obyekt_ocenki["0"][0])
print('dd')
for i in range(0,len(my_obyekt_analog["0"])):
  print(my_obyekt_analog["0"][i][0])

1
dd
1
2
3
1
4
2

In [ ]:
# по столбцам параметры
# 0 -город
# 1 - этаж
# 2 - класс
# 3 - отделька
korr_factors = {"0": {"1": 1,"2": 0.9,"3": 0.85, "4": 0.75}, 
              "1": {"1": 1,"2": 0.85,"3": 0.8},
              "2": {"1": 1,"2": 0.9,"3": 0.85},
              "3": {"1": 1,"2": 0.8}}



# ob_oc[1][0]
korr_o_ocenki = korr_factors["0"]["3"]
korr_o_analog = korr_factors["0"]["2"]
korr_otnoshenie = round(korr_o_ocenki / korr_o_analog,2)
print('Корректировка объекта оценки',korr_o_ocenki, sep = '\n')
print('Корректировка объекта аналога',korr_o_analog, sep = '\n')
print('Отношение корректировок',korr_otnoshenie, sep = '\n')

Корректировка объекта оценки
0.85
Корректировка объекта аналога
0.9
Отношение корректировок
0.94

In [ ]:
def calculate_corrections(ob_ocenki, ob_analog):
  # Цикл объектам
  for k in range(0, len(my_obyekt_ocenki[1])):
    # Цикл по факторам
    for i  in range(0,len(my_obyekt_ocenki)):
      factor_znach_OO = my_obyekt_ocenki[i][k])
      korr_o_ocenki = korr_factors["0"][factor_znach_OO]
      korr_o_analog = korr_factors["0"]["2"]
      korr_otnoshenie = round(korr_o_ocenki / korr_o_analog,2)
      print('Корректировка объекта оценки',korr_o_ocenki, sep = '\n')
      print('Корректировка объекта аналога',korr_o_analog, sep = '\n')
      print('Отношение корректировок',korr_otnoshenie, sep = '\n')

**ДЗ**

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd 
import tqdm
from tqdm import notebook
import time

!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [ ]:
df = {'parse_url':[], 'link':[], 'title':[], 'public_date':[]}

In [ ]:
date_

Timestamp('2021-10-10 09:19:15')

In [ ]:
start_date

In [ ]:
%%time
start_date = pd.to_datetime('01.10.2021')
end_date = pd.to_datetime('10.10.2021')
for day in notebook.tqdm(range(1,11)):   
    url  = 'https://news.ycombinator.com/front?day=2021-10-'+str(day)
    i = 1
    click_more = True
    while click_more:

      if i==1:
        print(url)
        time.sleep(0.8)
        wd.get(url)
      i+=1
      r = wd.page_source        
      soup = BeautifulSoup(r, 'lxml')
      
      news = soup.find_all('tr', 'athing')
      times = soup.find_all('td', 'subtext')
      
      for i in range(len(news)):
          date_ = times[i].find('span', 'age').get('title')
          date_ = pd.to_datetime(date_)    
          if date_ < start_date:
            click_more =False
            break

          header = news[i].find_all('td', 'title')[1].text
          href = news[i].find('a', 'titlelink').get('href')
          df['link'].append(href)
          df['title'].append(header)
          df['public_date'].append(date_)
          df['parse_url'].append(wd.current_url)
      if date_ < start_date:
        if soup.find('tr', 'morespace'):          
            time.sleep(4)
            wd.find_elements_by_class_name('morelink')[0].click()
            print(wd.current_url)
            time.sleep(2)
        else:
          print('click moore no find')
          click_more = False

  0%|          | 0/10 [00:00<?, ?it/s]

https://news.ycombinator.com/front?day=2021-10-1

NameError: ignored

In [ ]:
df = pd.DataFrame(df)
df

                                             parse_url  ...         public_date
0     https://news.ycombinator.com/front?day=2021-10-1  ... 2021-10-01 05:54:14
1     https://news.ycombinator.com/front?day=2021-10-1  ... 2021-10-01 00:59:07
2     https://news.ycombinator.com/front?day=2021-10-1  ... 2021-10-01 15:01:00
3     https://news.ycombinator.com/front?day=2021-10-1  ... 2021-10-01 12:57:51
4     https://news.ycombinator.com/front?day=2021-10-1  ... 2021-09-30 19:12:33
..                                                 ...  ...                 ...
985  https://news.ycombinator.com/front?day=2021-10...  ... 2021-10-10 21:04:11
986  https://news.ycombinator.com/front?day=2021-10...  ... 2021-10-10 09:06:45
987  https://news.ycombinator.com/front?day=2021-10...  ... 2021-10-10 05:01:13
988  https://news.ycombinator.com/front?day=2021-10...  ... 2021-10-09 02:01:27
989  https://news.ycombinator.com/front?day=2021-10...  ... 2021-10-10 09:19:15

[990 rows x 4 columns]

In [ ]:
df.sort_values(by='public_date').to_excel('news.xlsx', index=False)

In [ ]:
df

In [ ]:
import requests
r = requests.post(
        'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address',
        json = { "query": 'Нижний Новгород бетанкура 3' }

        # json = {"query": 'нижний новгород бетанкура 3'}
        
        )

satndart_adress = r.json()['suggestions'][0]['value']
satndart_adress

'г Нижний Новгород, ул Бетанкура, д 3'

In [ ]:
import requests
import json
address = 'Нижний Новгород, бетанкура 3'
r = requests.get(f'https://nominatim.openstreetmap.org/?addressdetails=1&q='{address}'format=json&limit=1&exclude_place_ids=716498%2C144330873%2C147285032')
 r = json.loads(r.text)
 distrct = r[0]['address']['city_district']